img.myimage{
  width:50%;
  height:auto;
  background-color: #D3D3D3;
}

body {
	background-color: #F5F5F;
	font-family:'Rajdhani',sans-serif;
}

#card1{
	background-color:#D3D3D3;
}
   

.card-title{
	font-weight:500;

}
.card-text {
	font-weight:300;
	border-color: #D3D3D3;
}

.navbar {
	background: #D3D3D3;
}

.card {
	background: #F5F5F;
}

#bar1{
	background:white;
}
.jumbotron {
  background-image: url("https://hbr.org/resources/images/article_assets/2004/10/SEPT15_03_535621603.jpg"/img/picture.jpg);
  background-size: cover;
  color: black;
}

img.img2{
	width:50%;
	height:auto;
	align-content: right;

}
